
{% extends 'ProyectoCoderApp/base.html' %}

{% load static %}
{% block tituloPagina %}App Coder - cursos{% endblock %}

{% block contenidoPagina %}
    <!-- Header-->
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="rowgx-5 justify-content-center">
                    <div class="col_lg-3">
                         los cursos son:
                        <ul class="list-group">
                            {% for curso in cursos %}
                             <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{curso.nombre}}
                                <span class="badge bg-primary badge-pill"> {{curso.comision}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'crear_curso' %}">+ Crear nuevo curso</a>
                    </div>
                </div>
            </div>
           

        </section>      

{% endblock %}
