
{% extends 'ProyectoCoderApp/base.html' %}

{% load static %}
{% block tituloPagina %}App Coder - cursos{% endblock %}

{% block contenidoPagina %}
    <!-- Header-->
        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="rowgx-5 justify-content-center">
                    <div class="col_lg-3">
                         los estudiantes son:
                        <ul class="list-group">
                            {% for estudiante in estudiantes %}
                             <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{estudiante.nombre}} {{estudiante.apellido}}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
           

        </section>      

{% endblock %}